@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color: #e5d9be;">
<div class="text-center">
        
    <h1 class="display-4">Bem vindo a CoffeeShop</h1>
        <h4 style="font-weight: 300;line-height: 1.2">
            Para cadastrar clientes ou produtos, selecione uma das opções acima.
        </h4>
         <img src="..\Images\happy-coffee.png" width="400" class="bi me-2" style="border-radius:27px">
</div>
</body>
