@{
    ViewData["Title"] = "Créditos";
}

<body style="background-color: #e5d9be;">
<h1>@ViewData["Title"]</h1>

    <p>Site feito e produzido por: Douglas Rodrigues Barbosa</p>
    <a href="https://www.linkedin.com/in/printdouglasbarbosa">LinkedIn</a>
</body>